<%= fields_for(:recurring, recurring, :builder => RecurringFormBuilder) do |f| %>
  <%= f.repeat_in_field %>
  <%= f.text_field :hour, :class => "radius six column timepicker", :placeholder=>"#{Recurring.human_attribute_name(:hour)}" %>
  <%= f.text_field :begin_day, :value => I18n.l(Date.today), :class => "radius six column datepicker invisible", :placeholder=>"#{Recurring.human_attribute_name(:begin_day)}" %>
  <%= f.text_field :repeat_weekly_interval, :class => "radius six column invisible", :placeholder=>"#{Recurring.human_attribute_name(:repeat_weekly_interval)}" %>

  <div class="twelve column">
    <%= f.day_of_week_check_box(:sunday) %>
    <%= f.day_of_week_check_box(:monday) %>
    <%= f.day_of_week_check_box(:tuesday) %>
    <%= f.day_of_week_check_box(:wednesday) %>
    <%= f.day_of_week_check_box(:thursday) %>
    <%= f.day_of_week_check_box(:friday) %>
    <%= f.day_of_week_check_box(:saturday) %>
  </div>
<% end %>

