<div class="itenerary-container columns twelve ">
  <div class="itinerary-group row">
    <div class=" twelve columns ">
      <div class="row">
        <div class="twelve columns itinerary-header">
          <%= transport_type_img(itinerary.transport_type) %>
          <h3 class="columns subheader"><%= itinerary.name %></h3>
          <div class="one column end">
            <a href="#"><%= image_tag "status-aguardando.png" %></a>
          </div>
          <div class="itinerary-buttons two columns">
            <!--<a href="#" class="radius button"><%= I18n.t("itinerary.similars".to_sym) %></a>-->
            <%= link_to(I18n.t("itinerary.view".to_sym), itinerary, :class => "radius button") %>
        </div>
        </div>
      </div>
      <div class="itinerary-group-info row">
            <div class="three columns">
              <div class="icon-origin description-marker"></div>
              <p><strong>Origem</strong></p>
              <p><%= itinerary.origin %></p>
            </div>
          <div class="three columns">
              <div class=" description-marker icon-destiny "></div>
              <p><strong>Destino</strong></p>
              <p><%= itinerary.destiny %></p>
          </div>
          <div class="six columns">
            <%= render :partial => 'itineraries/recurring', :locals => {:recurring => itinerary.recurring} %>
          </div>
      </div>
    </div>
  </div>
</div>
