<div class="columns twelve grupo">
  <div class="row">
    <%= transport_type_img(itinerary.transport_type) %>
    <h3 class="columns subheader"><%= itinerary.name %></h3>
    <div class="one column end"><a href="#"><%= image_tag "status-aguardando.png" %></a></div>
  </div>
  <div class="row twelve grupo-info">
    <div class="nine columns">
      <div class="info-enderecos row">
        <div class="six columns">
          <div class="icone-posicao three"><a href="#" class="th"><%= image_tag("avatar.jpg", :class => "avatar") %></a><div class="icone-origem"></div></div>
          <div class="eight columns end">
            <p>
              <%= itinerary.hour %>
            </p>
            <p>
              <%= itinerary.origin %>
            </p>
          </div>
        </div>
        <div class="six columns">
          <div class="icone-posicao three"><a href="#" class="th"><%= image_tag("avatar.jpg", :class => "avatar") %></a><div class="icone-destino"></div></div>
          <div class="eight columns end">
            <p>
              <%= itinerary.hour %>
            </p>
            <p>
              <%= itinerary.destiny %>
            </p>
        </div>
      </div>
      <div class="info-freq row">
        <div class="six columns">
          <div class="three left"><%= image_tag "icone-calendar.png" %></div>
          <div class="eight columns"><p><strong>Semanal</strong></p> <p>Seg, Qua, Sex</p>
          </div>
        </div>
        <div class="six columns">
          <p><strong>Participantes</strong></p>
          <a href="" class="th"><% image_tag("avatar.jpg", :class=>"two left") %></a>
        </div>
      </div>
    </div>
    <div class="three columns">
      <a class="radius primary button" href="#">Ver grupo</a>
    </div>
  </div>
  <div class="row twelve columns">
    <div class="panel radius">
      Este grupo tem apenas um participante. <a href="#" class="small radius button">Procurar similares</a>
    </div>
  </div>
</div>
