<div class="itinerary-map"
	  data-origin-coordiation="<%= @itinerary.origin_coordinates %>"
	  data-destiny-coordiation="<%= @itinerary.destiny_coordinates %>"
	  data-origin="<%= @itinerary.origin %>"
	  data-destiny="<%= @itinerary.destiny %>">
</div>
<div class="row">
	<div class="eight columns">
		<div class="row">
			#coments e info do user
		</div>
		<div class="row">
			<% if @itinerary.already_participating?(current_user) %>
				<%= render :partial => "itineraries/pending_polls", :locals => {:polls => @polls} %>
			<% end %>
		</div>
	</div>
	<div class="four columns group-sidebar">
		<div class="row">
			<%= join_modal %>
		</div>
		<div class="row">
			<div class="twelve columns">
				<div class="icon-origin description-marker"></div>
				<div class="nine columns">
					<h6><%= Itinerary.human_attribute_name(:origin) %></h6>
					<p><%= @itinerary.origin %></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<div class="icon-destiny description-marker"></div>
				<div class="nine columns">
					<h6><%= Itinerary.human_attribute_name(:destiny) %></h6>
					<p> <%= @itinerary.destiny %></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<div class="group-recurrency"><%= image_tag "icone-calendar.png" %></div>
				<h6><%= I18n.t(:"recurring.when") %></h6>
				<p>
					<%= repeat_in_humanize(@itinerary.recurring) %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<div class="group-recurrency"><%= image_tag "icon-clock.png" %></div>
				<h6><%= I18n.t(:"recurring.at") %></h6>
				<p> <%= @itinerary.recurring.hour %></p>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<h6><%= I18n.t(:"recurring.when_started") %></h6>
				<p> <%= I18n.l(@itinerary.recurring.begin_day, :format => :no_time) %></p>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<%= render :partial => "itineraries/participants" %>
			</div>
		</div>
	</div>
</div>

<%= render :partial => 'itineraries/join', :locals => { :itinerary => @itinerary } %>

<% content_for :js do %>
<script type="text/javascript">
  var itineraryMap = $("div.itinerary-map")[0];
  new ItineraryMap(itineraryMap).render();
</script>
<% end %>
