<div class="row">
	<div class="twelve columns" id="group-title">
		<h3 class="left"><%= @itinerary.name %></h3>
		<span class="<%= @itinerary.transport_type %> selected left" id="group-transport"></span>
	</div>	
</div>
<div class="row">
	<div class="twelve itinerary-map"
	  data-origin-coordiation="<%= @itinerary.origin_coordinates %>"
	  data-destiny-coordiation="<%= @itinerary.destiny_coordinates %>"
	  data-origin="<%= @itinerary.origin %>"
	  data-destiny="<%= @itinerary.destiny %>">
	</div>
</div>
<div class="row">
	<div class="three columns">
		<div class="row" id="group-users">
			<h6>Participantes</h6>
			<div class="three left">
				<a href="#"><%= image_tag "avatar.jpg" %></a>
			</div>
			<div class="three left">
				<a href="#"><%= image_tag "avatar.jpg" %></a>
			</div>
			<div class="three left">
				<a href="#"><%= image_tag "avatar.jpg" %></a>
			</div>
			<div class="three left">
				<a href="#"><%= image_tag "avatar.jpg" %></a>
			</div>
		</div>
	</div>
	<div class="eight columns offset-by-one">
		<div class="row">
			<div class="six columns">
				<div class="icon-origin description-marker">
				</div>
				<div class="nine columns">
					<h6>Origem</h6><p><%= @itinerary.origin %></p>
				</div>
			</div>
			<div class="six columns">
				<div class="icon-destiny description-marker">
				</div>
				<div class="nine columns">
					<h6>Destino</h6><p> <%= @itinerary.destiny %></p>
				</div>
			</div>
			<div class="twelve columns">
				<h6>Dia</h6><p> <%= @itinerary.day %></p>
				<h6>Horário</h6><p> <%= @itinerary.hour %></p>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				#coments
			</div>
		</div>

	</div>
</div>