<h2><%= I18n.t(:sign_up) %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :multipart => true) do |f| %>
  <%= devise_error_messages! %>
  <%= render :partial => 'shared/form_alerts', :locals => {:entity => resource} %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :nickname, I18n.t(:"sign_up_form.nickname") %><br />
  <%= f.text_field :nickname %></div>

  <div><%= f.label :federal_id %><br />
  <%= f.text_field :federal_id %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :address %><br />
  <%= f.text_field :address %></div>

  <div><%= f.label :city %><br />
  <%= f.text_field :city %></div>

  <div><%= f.label :territory %><br />
  <%= f.text_field :territory %></div>

  <div><%= f.label :phone %><br />
  <%= f.text_field :phone %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :avatar %><br />
  <%= f.file_field :avatar %></div>

  <div><%= f.submit I18n.t(:"sign_up_form.create") %></div>
<% end %>

<%= render "devise/shared/links" %>
