<%= form_for(@trajeto_grupo) do |f| %>
  <% if @trajeto_grupo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trajeto_grupo.errors.count, "error") %> prohibited this trajeto_grupo from being saved:</h2>

      <ul>
      <% @trajeto_grupo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trajeto_usuario_id %><br />
    <%= f.number_field :trajeto_usuario_id %>
  </div>
  <div class="field">
    <%= f.label :grupo_id %><br />
    <%= f.number_field :grupo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
