<h1>Listing trajeto_grupos</h1>

<table>
  <tr>
    <th>Trajeto usuario</th>
    <th>Grupo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trajeto_grupos.each do |trajeto_grupo| %>
  <tr>
    <td><%= trajeto_grupo.trajeto_usuario_id %></td>
    <td><%= trajeto_grupo.grupo_id %></td>
    <td><%= link_to 'Show', trajeto_grupo %></td>
    <td><%= link_to 'Edit', edit_trajeto_grupo_path(trajeto_grupo) %></td>
    <td><%= link_to 'Destroy', trajeto_grupo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trajeto grupo', new_trajeto_grupo_path %>
