<p id="notice"><%= notice %></p>

<p>
  <b>Trajeto usuario:</b>
  <%= @trajeto_grupo.trajeto_usuario_id %>
</p>

<p>
  <b>Grupo:</b>
  <%= @trajeto_grupo.grupo_id %>
</p>


<%= link_to 'Edit', edit_trajeto_grupo_path(@trajeto_grupo) %> |
<%= link_to 'Back', trajeto_grupos_path %>
