<%= simple_form_for @grupo do |f| %>
  
  <div class="field">
    <%= f.input :nome %>
  </div>
  <h3> Trajeto</h3>
  
  <div id="trajeto">
    <%= f.simple_fields_for :trajeto_usuario do |t| %>
        <%= t.input :end_origem %> 
        <%= t.input :end_destino %> 
        <%= t.association :meio_transporte, :include_blank => false, :label_method=>:nome, :as => :radio %> 

    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>

<% end %>

