<p id="notice"><%= notice %></p>

<p>
  <b>Trajeto grupo:</b>
  <%= @grupo.trajeto_grupo_id %>
</p>

<p>
  <b>User:</b>
  <%= @grupo.user_id %>
</p>

<p>
  <b>Meio transporte:</b>
</p>

<p>
  <b>Nome:</b>
  <%= @grupo.nome %>
</p>


<%= link_to 'Edit', edit_grupo_path(@grupo) %> |
<%= link_to 'Back', grupos_path %>
