

<div class="four columns" id="perfil">
   <% if user_signed_in? %>
	   <div class="avatar th">
	   	<img src="<%= current_user.image %>"/>
	   </div>
	   <h4>	<small><%= current_user.name %></small></h4>
	   <p><%= current_user.location %></p>

		<%= link_to "Sair", destroy_user_session_path, :method => :delete %>
    
 		
 		<% else %>
 		<%= link_to "Entrar com Facebook", user_omniauth_authorize_path(:facebook) %>
 	<% end %>
</div>
