<%= simple_form_for(@meio_transporte) do |f| %>
  <% if @meio_transporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meio_transporte.errors.count, "error") %> prohibited this meio_transporte from being saved:</h2>

      <ul>
      <% @meio_transporte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :icone %>
  </div>
  <div class="field">
    <%= f.input :nome %>
  </div>
  <div class="field">
    <%= f.input :limite %>
  </div> 
     <%= f.input :limite_qtd, :as => :decimal %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
