<h1>Listing meio_transportes</h1>

<table>
  <tr>
    <th>Icone</th>
    <th>Nome</th>
    <th>Grupo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meio_transportes.each do |meio_transporte| %>
  <tr>
    <td><%= meio_transporte.icone %></td>
    <td><%= meio_transporte.nome %></td>
    <td><%= meio_transporte.grupo_id %></td>
    <td><%= link_to 'Show', meio_transporte %></td>
    <td><%= link_to 'Edit', edit_meio_transporte_path(meio_transporte) %></td>
    <td><%= link_to 'Destroy', meio_transporte, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meio transporte', new_meio_transporte_path %>
