<p id="notice"><%= notice %></p>

<p>
  <b>Icone:</b>
  <%= @meio_transporte.icone %>
</p>

<p>
  <b>Nome:</b>
  <%= @meio_transporte.nome %>
</p>

<p>
  <b>Grupo:</b>
  <%= @meio_transporte.grupo_id %>
</p>


<%= link_to 'Edit', edit_meio_transporte_path(@meio_transporte) %> |
<%= link_to 'Back', meio_transportes_path %>
