<div class="row">
  <div class="five columns centered">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="twelve columns">
          <%= f.email_field :email, :placeholder=>"#{Itinerary.human_attribute_name(:email)}" %>
        </div>
      </div>

      <div class="row">
          <div class="twelve columns">
            <%= f.password_field :password, :placeholder=>"#{Itinerary.human_attribute_name(:password)}" %>
          </div>
      </div>

        <div class="row">
          <div class="six columns">
          <%= f.submit(I18n.t(:sign_in), :class => "twelve radius button") %>
          </div>
        </div>
          <% if devise_mapping.rememberable? %>
            <div class="row">
              <div class="twelve columns">
                <%= f.check_box :remember_me, :class=> "left" %> <%= f.label :remember_me, :class => "checkbox" %>
              </div>
            </div>
          <% end %>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
