<div class="container twelve columns">
  <div class="row">
    <div class="eight columns offset-by-one">
      
          <%= form_for(@route, :builder => RouteFormBuilder, :html => {:class => "custom"}) do |f| %>
            <fieldset  id="add-route">
              <legend><%= "#{I18n.t(:new)} #{Route.model_name.human}" %></legend>
              <div class="row">
                <div class="six columns">
                  <%= f.label :name %>
                  <%= f.text_field :name, :class => "radius twelve middle", :placeholder=>"#{Route.human_attribute_name(:name)}" %>
                </div>
                <%= f.transport_type_field %>
              </div>
              <div class="row">
                <div class="six columns">
                  <%= f.text_field :origin, :class => "radius twelve", :placeholder=>"#{Route.human_attribute_name(:origin)}" %>
                </div>
                <div class="six columns">
                  <%= f.text_field :destiny, :class => "radius twelve", :placeholder=>"#{Route.human_attribute_name(:destiny)}" %>
                </div>
              </div>
              <div class="row">
                <div class="four columns">
                  <%= f.text_field :day, :class => "radius twelve", :placeholder=>"#{Route.human_attribute_name(:day)}" %>
                </div>
                <div class="four columns">
                  <%= f.text_field :hour, :class => "radius twelve", :placeholder=>"#{Route.human_attribute_name(:hour)}" %>
                </div>
                <%= f.repeat_in_field %>
              </div>
              <div class="row">
                <div class="four columns offset-by-eight">
                  <%= f.submit :class=>"radius button twelve", :value=>"Adicionar" %>
                </div>
              </div>
            </fieldset>
          <% end %>
    </div>
  </div>
</div>
