<h1>Listing instituicaos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Logo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instituicaos.each do |instituicao| %>
  <tr>
    <td><%= instituicao.nome %></td>
    <td><%= instituicao.logo %></td>
    <td><%= link_to 'Show', instituicao %></td>
    <td><%= link_to 'Edit', edit_instituicao_path(instituicao) %></td>
    <td><%= link_to 'Destroy', instituicao, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instituicao', new_instituicao_path %>
