<!DOCTYPE html>
<html>
<head>
  <title>Partiude</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", :defaults %>

  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 <div> 
 	<% if user_signed_in? %>
 		Signed in as <%= current_user.name %>,<%= current_user.email %> <%= current_user.gender %>, <%= current_user.location %><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
 		<% else %>
 		<%= link_to "Sign_up", new_user_registration_path %> ou <%= link_to "Sign in", new_user_session_path %>
 		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
 	<% end %>
 	
 </div>
       
<%= yield %>

</body>
</html>
