<!DOCTYPE html>
<html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>Partiu.de - Trajetos em grupo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/header_bar' %>

  <div class="container">
    <% if notice.present? %>
      <div class="alert-box success columns nine centered">
        <p class="notice"><%= notice %></p>
        <a href="" class="close">&times;</a>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <%= render :partial => 'layouts/footer' %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
</body>
</html>
