<%= simple_form_for @trajeto_usuario do |f| %>
  
  
  <h3> Trajeto</h3>
	<%= f.input :end_origem %> 
    <%= f.input :end_destino %>  
    <%= f.association :meio_transporte, :include_blank => false, :label_method=>:nome, :as => :radio %> 

  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>

<% end %>

